@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Shadows+Into+Light&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #bbbbbb;
}

.caixa{
    position: relative;
    margin: 0 auto;
    font-size: 30px;
    width: 940px;
}

nav li{
    display:inline;
    list-style: none;
    margin: 0 0 0 15px;    
}

nav{
    position: absolute;
    top: 110px;
    right: 30px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
}


nav a:hover{
    color: rgb(188, 162, 12);
    padding: 5px;
    border-radius: 5px;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px ;
    
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    
}

.produtos li:hover{
    border-color: rgb(188, 162, 12);
}

.produtos li:active{

    border-color: blue;
}

.produtos li:hover h2{
    font-size: 35px;
}


.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produtos-descricao{
    font-size: 18px;

    
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(../imagens/imagens.produtos/bg.jpg);
    padding: 40px;
   
}

.copyright{
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block; 
    font-size: 20px;
    margin:  10px 0;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkboox{

    margin: 20px 0;
}

.enviar{
    width: 25%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;

}

.enviar:hover {
    background: darkgoldenrod;
    transform:scale(1.2);
}
caption {
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
}
table {
    width: 300px;
    margin: 15px 0;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    table-layout: fixed;  
}

tr:nth-child(2n) {
    background-color: #bbbbbb;
}
thead th {
    background-color: #bbbbbb;
}

 td, th {
    border: 1px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:8px;
}
table th {
    font-weight: bold;
    font-size: 20px;
}

/* CSS da Página inicial */

.banner {
    width: 100%;
}
.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin:1em 0;
    padding: 15px 0 0 0;
    clear: left;
}
.titulo-principal::first-letter{
    font-weight: bold;
}

.principal{
    padding:3em 0;
    background:#FEFEFE;
    width: 940px;
    margin: 0 auto;   
}
.principal p{
    margin:  0 1em;
    padding: 15px 0 0 0;
   


}
.principal strong{
    font-weight: bold;

}

.principal em{

    font-style: italic;

}
.utensilios{
    width: 150px;
    height: 200px;
    float: left;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient( #FEFEFE, #888888);
     
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
    
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;  
}


.beneficios{
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    
}

.itens{
    line-height: 1.5;
}

.itens:first-child{
    font-weight: bold;
}

.itens::before{
    content:  "★";
}

.imagem-beneficios{
    width: 60%;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;

}


.video{
    width: 560px;
    margin: 1em auto; 
}